<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Переваги комплексу</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <img class="advantages-list__img" src="./images/img/advantages/advantage-1.jpg" alt="nature">
                <div class="advantages-list__group">
                    <p class="advantages-list__uppertitle">10 га парку</p>
                    <p class="advantages-list__subtext advantages-list__subtext-width">Жити в центрі міста, але не на виду.</p>
                </div>
            </li>
            <li class="advantages-list__item">
                <img class="advantages-list__img" src="./images/img/advantages/advantage-2.jpg" alt="nature">
                <div class="advantages-list__group">
                    <p class="advantages-list__uppertitle">2 школи та 2 дитсадки</p>
                    <p class="advantages-list__subtext">Відстань до 750 м від ЖК.</p>
                </div>
            </li>
            <li class="advantages-list__item">
                <img class="advantages-list__img" src="./images/img/advantages/advantage-3.jpg" alt="nature">
                <div class="advantages-list__group">
                    <p class="advantages-list__uppertitle">Безпека 24/7</p>
                    <p class="advantages-list__subtext">Закрита територія та відеоспостереження.</p>
                </div>
            </li>
            <li class="advantages-list__item">
                <img class="advantages-list__img" src="./images/img/advantages/advantage-4.jpg" alt="nature">
                <div class="advantages-list__group">
                    <p class="advantages-list__uppertitle">Розумний будинок</p>
                    <p class="advantages-list__subtext">Індивідуальна система опалення та 
                        регулювання житла за допомогою додатку.</p>
                </div>
            </li>
            <li class="advantages-list__item">
                <img class="advantages-list__img" src="./images/img/advantages/advantage-5.jpg" alt="nature">
                <div class="advantages-list__group">
                    <p class="advantages-list__uppertitle">Інфраструктура.</p>
                    <p class="advantages-list__subtext">Власні керуючі компанії.</p>
                </div>
            </li>
        </ul>
    </div>
</section>