<header class="header">
    <div class="container">
        <a href="#" class="logo">
            <img class="logo__img" src="./images/icons/logo.svg" alt="logo">
            <span class="logo__name">Nice View</span>
        </a>
        <button class="btn-lang" type="button">
            <svg class="btn-lang__icon" width="36" height="30">
                <use href="./images/icons/icon.svg#icon-lang"></use>
            </svg>
        </button>
        <button class="btn-hamburger" type="button">
            <svg class="btn-hamburger__icon" width="42" height="42">
                <use href="./images/icons/icon.svg#icon-hamburger"></use>
            </svg>
        </button>
    </div>
</header>