<section class="hero">
        <div class="container">
            <div class="hero__bg-decor"></div>
            <div class="group-hero">
                <h1 class="group-hero__title">ЖК “Nice view”</h1>
                <p class="group-hero__text">При 100% оплаті  знижка 5% від банку.
                    Пропозиція дійсна до 31.12.22 р.</p>
                <button class="group-hero__button button-call js-btn-open">Дзвінок</button>
            </div>
            <address class="address-hero">
                <a href="#" class="address-hero__link">м.Київ, просп. Вознесенський 148</a>
            </address>
        </div>
</section>