<div class="menu-container" id="mobile-menu">
    <button class="modal__close js-mobile-close" type="button">
        <svg class="modal__close-icon mobile-icon" width="48" height="48">
            <use href="./images/icons/icon.svg#icon-close"></use>
        </svg>
    </button>
    <nav class="nav-menu">
        <ul class="nav-menu__list">
            <li class="nav-menu__item"><a href="#" class="nav-menu__link">Головна</a></li>
            <li class="nav-menu__item"><a href="#" class="nav-menu__link">Про нас</a></li>
            <li class="nav-menu__item"><a href="#" class="nav-menu__link">Контакти</a></li>
        </ul>
    </nav>
    <button class="modal__form-send button-call" type="button">Дзвінок</button>
</div>