<div class="backdrop-modal hidden">
    <div class="modal">
        <button class="modal__close js-btn-close" type="button">
            <svg class="modal__close-icon" width="48" height="48">
                <use href="./images/icons/icon.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal__title">ЖК “Nice view”</h2>
        <p class="modal__message">Замовте консультацію <span class="modal__message-word">зараз</span> і ми перетелефонуємо протягом 5 хвилин.</p>
        <form class="modal__form">
            <div class="modal__form-group">
                <label class="modal__form-label">
                    <span class="modal__form-desc">Як до Вас звертатися?</span>
                    <input class="modal__form-input" type="text" name="name" placeholder="Світлана Валеріївна">
                </label>
                <label class="modal__form-label">
                    <span class="modal__form-desc">Введіть Ваш номер телефону:</span>
                    <input class="modal__form-input" type="tel" name="tel" placeholder="+38 (000) 000 00 00">
                </label>
            </div>
            <p class="modal__form-message">Ми перетелефонуємо протягом 5 хвилин.</p>
            <button class="modal__form-send button-call" type="submit">Дзвінок</button>
        </form>
    </div>
</div>