<section class="planing">
    <div class="container planing__container">
        <h2 class="planing__title">Особливості планування</h2>
        <article class="planing-card">
            <img class="planing-card__img" src="./images/img/planing/city.jpg" alt="city">
            <div class="planing-card__group">
                <p class="quntity">88</p>
                <p class="planing-card__desc">сучасних квартир</p>
                <p class="quntity quntity-special">40+</p>
                <p class="planing-card__desc ">об’єктів інфраструктури</p>
            </div>
        </article>
    </div>
</section>