<section class="planing">
    <div class="container planing__container">
        <h2 class="planing__title">Особливості планування</h2>
        <div class="container-card">
            <article class="planing-card">
                <img class="planing-card__img" src="./images/img/planing/city.jpg" alt="city">
                <div class="planing-card__group">
                    <div class="group-count indent">
                        <p class="quntity">88</p>
                        <p class="planing-card__desc">сучасних квартир</p>
                    </div>
                <div class="group-count-special">
                    <p class="quntity quntity-special">40+</p>
                    <p class="planing-card__desc ">об’єктів інфраструктури</p>
                </div>
                </div>
            </article>
            <article class="planing-card">
                <img class="planing-card__img" src="./images/img/planing/city_1.jpg" alt="city">
                <div class="planing-card__group">
                <div class="group-count-special indent">
                    <p class="quntity quntity-special">300</p>
                    <p class="planing-card__desc">задоволених власників</p>
                </div>
                <div class="group-count">
                    <p class="quntity">5</p>
                    <p class="planing-card__desc">успішних проектів</p>
                </div>
                </div>
            </article>
        </div>
        <!-- desctop version -->
        <div class="container-card-desctop">
            <div class="card-left">
                <img class="card-left__img-left" src="./images/img/planing/city_lg.jpg" alt="city">
                <img class="card-left__img-right" src="./images/img/planing/city_lg_1.jpg" alt="city">
            </div>
            <div class="card-right">
                <div class="planing-card__group planing-card__wrapper">
                    <div class="group-count indent">
                        <p class="quntity">88</p>
                        <p class="planing-card__desc">сучасних квартир</p>
                    </div>
                    <div class="group-count-special">
                        <p class="quntity quntity-special">40+</p>
                        <p class="planing-card__desc ">об’єктів інфраструктури</p>
                    </div>
                </div>
                <div class="planing-card__group planing-card__wrapper">
                    <div class="group-count-special indent">
                        <p class="quntity quntity-special">300</p>
                        <p class="planing-card__desc">задоволених власників</p>
                    </div>
                    <div class="group-count">
                        <p class="quntity">5</p>
                        <p class="planing-card__desc">успішних проектів</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>