.btn-hamburger{
    border: none;
    background-color: transparent;

    @media screen and (min-width: 767px) {
        margin-left: 47px;
    }

    @media screen and (min-width: 1439px) {
        display: none;
    }

    &__icon{
        @media screen and (min-width: 767px) {
            width: 45px;
            height: 45px;
            stroke-width: 4px;
        }
    }
}